#common
passlib==1.7.4
supervisor==4.2.5
flask-jwt-extended==3.25.0
Werkzeug==1.0.1
gunicorn==20.0.4
flower==0.9.7
celery==4.4.2
redis==3.4.1
PyMySQL==0.9.3
SQLAlchemy==1.3.16
elasticsearch==2.3.0
msgpack-python==0.5.6
termcolor==1.1.0
prettytable==0.7.2


Flask==1.1.2
Flask-Script==2.0.6
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
Flask-Menu==0.7.1
Flask-breadcrumbs==0.5.0
Flask-Mail==0.9.1
Flask-Babel==1.0.0
Flask-Migrate==2.5.3
Flask-Redis==0.4.0
Flask-Session==0.3.1
Flask-Celery-py3==0.2.4
flask_elasticsearch==0.2.5
Flask-Caching==1.8.0


#admin-app
gevent==22.10.2
redisearch==0.9.0
pyyaml==3.13
openpyxl==3.0.3
IPy==1.00
jsonmerge==1.7.0
qcloudsms-py==0.1.4
xlsxwriter==1.2.9
python-docx==0.8.10
xlrd==1.2.0
xlwt==1.3.0
xlutils==2.0.0
kombu==4.6.8
influxdb==5.3.1
